<div class="vdr" :style="style"
     :class="`${(active || isActive) ? 'active' : 'inactive'} ${contentClass ? contentClass: ''}`"
     @mousedown="bodyDown($event)"
     @touchstart="bodyDown($event)"
     @touchend="up($event)">
    <slot></slot>

    <div 
        class="vdr-stick vdr-stick-tr" 
        :class="[isResizable ? '' : 'not-resizable']" 
        @mousedown.stop.prevent="stickDown('tr', $event)"
        @touchstart.stop.prevent="stickDown('tr', $event)"
        :style="vdrStick('tr')">
        <img style="width: 15px; height: 15px; display: block" src="https://dg.vanke.geekclo.com/foodies/assets/drag-resize-icons/resize.png" />
    </div>

    <div 
        class="vdr-stick vdr-stick-bl" 
        :class="[isResizable ? '' : 'not-resizable']"
        @click.stop.prevent="stickRemove"
        :style="vdrStick('bl')">
        <img style="width: 15px; height: 15px; display: block" src="https://dg.vanke.geekclo.com/foodies/assets/drag-resize-icons/close.png" />
    </div>
</div>
